.input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D2D0D0;
    border-radius: 6px;
    width: 230px;
    height: 40px;
}

.input input{
    color: #6D6D6D;
    font-size: 1.05em;
    background-color: transparent;
    border-width: 0px;
}