.input {
    font-size: 1.20em;
    font-weight: bold;
    color: rgba(215, 0, 82, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdddd;
    width: 360px;
    height: 25px;
    padding: 20px;
    margin: 3px;
    border-radius: 7px;
}

.input spam{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(215, 0, 82, 0.7);
    font-size: 1em;
    background-color: transparent;
    border-width: 0px;
}

.button{
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .input{
        width: 190px;
    }
}
