.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D2D0D0;
    width: 360px;
    height: 40px;
    padding: 7px;
    margin: 5px;
    border-radius: 7px;
}

.input spam{
    color: #6D6D6D;
    font-size: 1.05em;
    background-color: transparent;
    border-width: 0px;
}