.container{
    height: 100vh;
    display: flex;
    background-color: #F2F3FA;
}

.content{
    margin-left: 250px;
    padding: 1px 16px;
}

.bodyContent{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 1.8em;
    height: 100%;
}

#Title{
    margin-bottom: 10px;
    color: #3D3D3D;
}

#met{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px){
    .content{
        margin-left: 150px;
    }
}