.container {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D70052;
    /* background-image: url("https://wallpaperaccess.com/full/4965.jpg"); */
    background-image: "background.jpg";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.login {
    background-color: #262626;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

form{
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    color: #FFF;
}

form input{
    margin-bottom: 15px;
    border:0;
    border-radius: 5px;
    padding: 5%;
    font-size: 15px;
    color: #000;
    background-color: #D2D0D0;
  }
  
  form button{
    height: 35px;
    border: 1px solid #D70052;
    border-color: #D70052;
    background-color: transparent;
    color: #D70052;
    border-radius: 7px;
    background-color: none;
    font-size: 0.9em;
    transition: all 0.3s;
  }

  form button:hover{
    border: 1px solid #D70052;
    border-color: #D70052;
    background-color: #D70052;
    color: #262626;
  }
  
  .login a{
    margin: 1.5em 0;
    color: #FFF;
    cursor: pointer;
  }

  Link{
      color: #FFF;
  }


  .img{
    background: url("./background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.opac{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(215, 0, 82, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;
}

.opac h1{
    color: #FFF
}

@media screen and (max-width: 800px){
    h1{
        color: #1324
    }
}